input {
    width: 150px;
}
body {
    background-image: url("matrix.gif");
}
fieldset {
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
    border-color: #005300;
    border-width: 15px;
    margin-left:440px;
    margin-right:440px;
}
#calculator {
    margin-left:605px;
    margin-right:605px;
}
.button {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(6, 6, 6, 0);
    color: white;
    font-family: "American Typewriter";
}